/*--------------------------------------------------------*/
/*Colors to be used:
	default background: #E2E2E2
	hovered background: #959595
	default font color: #707070
	selected font color: #FFFFFF
*/

/*resetting all to 0*/
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body{
	box-sizing: border-box;
	font-family: arial, helvetica, sans-serif;
}

header{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 2em 10%;
}

/*Navigation Bar setup start here*/
.navBar{
	overflow: hidden;
	position: fixed;
	background: #e2e2e2;
	width: 15em;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

/*Formats the header "MENU"*/
.navBar h2{
	text-align: center;
	font-size: 2.75em;
	text-transform: uppercase;
	color: #707070;
	/*background: #959595;*/
	background: linear-gradient(to right bottom, grey, black);
	padding: 16%;
	font-weight: bold;
}

.navBar ul li{
	text-align: center;
	margin: 2em 0; 
	padding: 0 1em 3em 0;
	list-style: none;
}

.navBar ul li a{
	transition: all 0.2s ease 0s;
	color: #707070;
	padding: 1em 1.5em;
	width: 7em;
	margin-left: 1em;
	height: 1em;
	font-size: 1.2em;
	text-align: left;
	float: left;

}

.navBar ul li a:hover{
	color: #ffffff;
	background: #959595;
	border-radius: 2em;
}

/*Navigation Bar setup ends here*/


/*Main content setup starts here*/
.main{
	margin-left: 15em;
	padding: 3em;
	background: linear-gradient(white, grey);
}

/*Separates the different containers*/
.unblocker{
	margin-top: 0;
	padding: 0;
	height: .15em;
	/*background: #000000;*/
}

/*Home page setup starts here*/
.intro{
	overflow: hidden;
	margin: 0 2.5em;
	height: 12em;
	width: 64em;
	padding: 14em 0;
	border-radius: 2em;
	background: #ffffff;

}

.intro h1{
	padding: .5em; 
	/*font-size: 10em;*/
	font-size: 4em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.intro a{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5em;
	color: #959595;
}

.intro a:hover{
	margin-left: 2em;
	transition: .2s;
}

/*Home page setup ends here*/

/*About me and Projects page setup starts here*/
.container{
	margin: 5em 2.5em;
	padding: 7em;
	background: #ffffff;
	width: 50em;
	height: 25.25em;
	overflow: hidden;
	border-radius: 2em;
}

.container img{
	/*float: top;*/
	width: 50%;
	height: 50%;
	/*background: #222222;*/
}

/*to have a different setup for rolls in the about me section*/
.row1{
	display: flex;
	margin-bottom: 5%;
	margin-left: 15em;
}

/*To have a different font for the column in the about me section*/
.col p{
	font-size: 1.5em;
	text-align: left;
}

/*TO have a different roll and column setup for the projects section*/
.row{
	display: flex;
	margin: 5%;
}

.col{
	width: 30em;
	float: left;
	padding: 2em;
	resize: vertical;
}

/*Allowing the image to fall in place*/
.colImage{
	display: flex;
	justify-content: center;
	align-items: center;
}

/*TO have different fonts sizes modified to fit the needs*/
.container h2{
	font-size: 3em;
	letter-spacing: .5em;
}

.container h3{
	font-style: italic;
}

.container h4{
	letter-spacing: .25em;
}

/*Styling the paragraph tag content*/
.col-1 p{
	font-size: 1.5em;
	width: 15em;
	margin-right: .5em;
	resize: vertical;
}

/*To give some white space for the social media links*/
.container span{
	margin-left: 10.5em;
	text-align: right;
}


/*Formatting the form starts here*/
.form_container{
	margin: 2em 1em;
	padding: 10%;
	border-radius: 2em;
	background-color: #e2e2e2;
}

/*styling the inputs and text areas*/
input[type=text], input[type=email]{
	width: 35em;
	height: 1em;
	padding: 1em;
	border: none;
	border-radius: 2em;
	box-sizing: border-box;
	resize: vertical;
}

/*Styling the text area for the user to enter their message/comment*/
input textarea{
	width: 15em;
	padding: 1em;
}

/*styling the label to display next to the inputs*/
label{
	padding: 0 1em;
	display: inline-block;
}

/*styling the submit button*/
input[type=submit]{
	background-color: #959595;
	color: #ffffff;
	padding: .5em 1em;
	border: none;
	border-radius: 2em;
	cursor: pointer;
	float: right;
	transition: all 0.2s ease 0s;
}

/*styling the first column*/
.col-1{
	float: left;
	width: 25%;
	margin-top: 5%;
	vertical-align: text-bottom;
}

/*styling the second column*/
.col-2{
	float: left;
	width: 75%;
	margin-top: 5%;
}

/*clearing floats about the columns*/
.row:after{
	content: "";
	display: table;
	clear: both;
}

/*Responsive form layout*/
@media screen and (max-width: 600px){
	.col-2, input[type=submit]{
		width: 100%;
		margin-top: 0;
	}
	.col-1{
		display: none;
	}
	input textarea{
		width: 8em;
		padding: 1em;
	}
}

/*To give some white space between the form and the submit button*/
.submit{
	margin-left: 20em;
	margin-top: 2em;
}

/*Formatting the form ends here*/

/*Formatting the footer starts here*/
.footer {
	overflow: hidden;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    bottom: 12px;
    font-size: 10px;
    color: #959595;
    letter-spacing: 1em;
    text-align: right;
    display: inline;
    font-family: helvetica, sans-serif;
}

.footer a {
    text-decoration: none;
    color: #959595;
}

/*formatting the footer ends here*/

/*Fluid design for tablets*/
@media screen and (max-width: 600px){
	/*Navigation Bar setup start here*/
	.navBar{
		overflow: hidden;
		position: fixed;
		background: #e2e2e2;
		width: 15em;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
		display: flex;
	}

	/*Formats the header "MENU"*/
	.navBar h2{
		font-size: 100%;
		padding: 1em;
		height: 2em;
		text-transform: uppercase;
		text-align: center;
	}

	.navBar ul li{
		text-align: center;
		margin-left: .5em; 
		padding: 0 1em 3em 0;
		list-style: none;
		top: 100%;
		/*float: left;*/
	}

	.navBar ul li a{
		transition: all 0.2s ease 0s;
		color: #707070;
		padding: 1em 1.5em;
		width: 7em;
		margin-left: 1em;
		height: 1em;
		font-size: 100%;
		text-align: left;
		float: left;

	}

	.navBar ul li a:hover{
		color: #ffffff;
		background: #959595;
		border-radius: 2em;
	}

	/*Navigation Bar setup ends here*/


	/*Main content setup starts here*/
	.main{
		margin-left: 15em;
		padding: 3em;
		background: linear-gradient(white, grey);
	}

	/*Separates the different containers*/
	.unblocker{
		margin-top: 0;
		padding: 0;
		height: .15em;
		/*background: #000000;*/
	}

	/*Home page setup starts here*/
	.intro{
		overflow: hidden;
		margin: 2em .25em;
		width: 100%;
		height: 100%;
		padding: 14em 0;
		border-radius: 2em;
		background: #ffffff;

	}

	.intro h1{
		padding: .5em; 
		/*font-size: 10em;*/
		font-size: 4em;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.intro a{
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.5em;
		color: #959595;
	}

	.intro a:hover{
		margin-left: 2em;
		transition: .2s;

	}

	/*Home page setup ends here*/

	/*About me and Projects page setup starts here*/
	.container{
		margin: 2em .25em;
		padding: 7em;
		background: #ffffff;
		width: 50em;
		height: 25.25em;
		overflow: hidden;
		border-radius: 2em;
	}

	.container img{
		/*float: top;*/
		width: 100%;
		height: 100%;
		/*background: #222222;*/
	}

	/*to have a different setup for rolls in the about me section*/
	.row1{
		display: flex;
		margin-bottom: 5%;
		margin-left: 15em;
	}

	/*To have a different font for the column in the about me section*/
	.col p{
		font-size: 0em;
		text-align: justify;
	}

	/*TO have a different roll and column setup for the projects section*/
	.row{
		display: flex;
		margin: 5%;
	}

	.col{
		width: 30em;
		float: left;
		padding: 2em;
		resize: vertical;
	}

	/*Allowing the image to fall in place*/
	.colImage{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	/*TO have different fonts sizes modified to fit the needs*/
	.container h2{
		font-size: 3em;
		letter-spacing: .5em;
	}

	.container h3{
		font-style: italic;
	}

	.container h4{
		letter-spacing: .25em;
	}

	/*Styling the paragraph tag content*/
	.col-1 p{
		font-size: .5em;
		width: 50%em;
		margin-right: 50%;
		resize: vertical;
	}

	/*To give some white space for the social media links*/
	.container span{
		margin-left: 10.5em;
		text-align: right;
	}

	.container{
		width: 100%;
		height: 100%;
	}

	.container h2{
		font-size: 100%;
	}


	.container h3, h4{
		font-size: 75%;
	}

	.container span{
		margin-left: 1em;
	}

	.col {
    width: 10em;
  	}

  	.col p{
  		font-size: 50%;
  	}

  	.col{
  		padding: 10%;
		display: flex;
		flex-direction: column;
		width: 75%;
		margin-top: 5%;
		align-items: center;
	}

	/*Allowing the image to fall in place*/
	.colImage{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	/*styling the first column*/
	.col-1{
		font-size: 50%;
		padding: 10%;
		display: flex;
		flex-direction: column;
		width: 50%;
		margin-top: 5%;
		align-items: center;
	}

	/*styling the second column*/
	.col-2{
		float: left;
		padding: 10%;
		display: flex;
		flex-direction: column;
		width: 50%;
		margin-top: 50%;
		margin-left: 0;
		align-items: center;
	}
	.row1{
		display: flex;
		flex-direction: column;
	}
}

/*Fluid design for phones*/
@media screen and (max-width: 375px){
	.logo{
		display: initial;
	}
}
