/* The navigation bar */
/*.navBar {
	top: 0;
	left: 0;
	width: 20em;
	height: 100%;
	z-index: 1;
	background-color: none;
	overflow-x: hidden;
	position: fixed;
}*/

/* Navbar links */
/*.navBar a {
	width: 20em;
	float: left;
	text-align: left;
	padding: 1em 1.5em 1em 2em;
	background-color: grey;
	color: white;
	text-decoration: none;
	font-size: 2em;
	}
*/
/* Navbar links on mouse-over */
/*.navBar a:hover {
	background-color: #000;
}

.navBar a.split{
	float: left;

}*/


/* Current/active navbar link */
/*.active {
	background-color: #04AA6D;
}*/

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
/*@media screen and (max-width: 500px) {
	.navbar a {
	float: none;
	display: block;
 	}
}

.icon{
	top: 0;
	left: 0;
}

.unblocker{
	width: 100%;
	height: 3em;
}

body{

	padding: 0em 1em;
	margin-left: 1em;
}

.welcome{
	text-align: center;
}

.container_home{
	padding: 3em 0em 50em 0em;
}

.about_section{
	padding: 50em 0em 50em 0em;
}

img{

	width: 1440px;
}*/

/*--------------------------------------------------------*/
/*Colors:
	default background: #E2E2E2
	hovered background: #959595
	default font color: #707070
	selected font color: #FFFFFF
*/

/*reset*/
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body{
	box-sizing: border-box;
	font-family: arial, helvetica, sans-serif;
}

/*Navigation Bar setup start here*/
.navBar{
	position: fixed;
	background: #e2e2e2;
	width: 20em;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.navBar h2{
	text-align: center;
	font-size: 2em;
	text-transform: uppercase;
	color: #707070;
	/*background: #959595;*/
	background: linear-gradient(to right bottom, grey, black);
	padding: 2em;
	font-weight: bold;
}

.navBar ul li{
	margin: 1.5em 0; 
	list-style: none;
}

.navBar ul li a{
	color: #707070;
	padding: 2em 2em;
	width: 12em;
	height: 3em;
	font-size: 1.25em;
	text-align: left;
	float: left;
}

.navBar ul li a:hover{
/*	width: 20em;
	height: 3em;*/
	color: #ffffff;
	background: #959595;
	/*margin-left: 2em;*/
	transition: 0.3s;
}

/*Navigation Bar setup ends here*/


/*Main content setup starts here*/
.main{
	margin-left: 20em;
	padding: 3em;
	background: linear-gradient(white, grey);
}

.unblocker{
	margin-top: 0;
	padding: 0;
	height: 5em;
	background: #000000;
}

.intro{
	padding: 15em 0;
}

.intro h1{
	font-size: 10em;
}

.intro a{
	/*padding: em 0;*/
	/*margin: 6em 0;*/
	font-size: 3em;

	/*background: #000000;*/
}

.intro a:hover{
	color: #959595;
	margin-left: 20em;
	transition: 4s;
}

.container{
	margin: 5em 0;
	padding: 2em;
	background: #ffffff;
	width: 100%
	height: 100%;
}

img{
	width: 30%;
	height: 30%;
	margin-right: 0; 
}

.container img{
	float: top right;
	height: 50%;
	background: #222222;
}



.container iframe{
	
	height: auto;
	width: 50%;
}
.row{
	display: flex;
}

.col{
	flex: 50%;
	height: 50%;
	padding: 10px;
}

@media screen and (max-width: 600px) {
  .col {
    width: 100%;
  }
}